body {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  max-width: 768px;
}

h1, h2 {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  display: table;
  border-bottom: solid 2px;
  margin-bottom: .5rem;
}

ul {
  padding-left: 1rem;
  list-style-type: disclosure-closed;
}