body {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  max-width: 768px;
}

h1, h2 {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  display: table;
  border-bottom: solid 2px;
  margin-bottom: .5rem;
}

ul {
  padding-left: 1rem;
  list-style-type: disclosure-closed;
}

.about-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}
.about-container span.icon {
  text-align: center;
  border-radius: 50%;
}

.about-container span.profile {
  width: 45%;
}

.rainbow {
  color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}