body {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  max-width: 768px;
}

h1, h2 {
  font-family: sans-serif;
}

h2 {
  display: table;
  border-bottom: solid 2px;
  margin-bottom: .5rem;
}

ul {
  padding-left: 1rem;
  list-style-type: disclosure-closed;
}

.icon {
   border-radius: 40%;
   width: 40%;
   height: 40%;
   text-align: center;
}

.rainbow {
  color: #FF8C00;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 481px) {

  .about-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
  }

  .about-container span.profile {
    width: 45%;
  }
  
  h1 {
    text-align: center;
  }
  
}

@media screen and (max-width: 480px) {
  .main {
    margin: 16px auto;
	  text-align: center;
  	display: block;
  	border: 1px solid #000000;
  }
  
  .main .center {
    text-align: left;
    display: inline-block;
  }
  
}